/* STYLING POSITIONING */

body {
    background-color: #d6232d;
    color: white;
    font-family: roboto;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#burger, #cross {
    display:none;
}

.contenu {
    padding: 2vw 10vw 5vw 10vw;
    /*    overflow: hidden;*/
}

#event_list {
    display: grid;
    grid-gap: 6vw;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    grid-template-rows: repeat(auto-fill, 200px), fit-content(100%);
    overflow: hidden;
}

#volunteer_post {
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 200px), fit-content(100%);
}

#event_template {
    margin-top: 20vw;
    margin-bottom: 10vw;
    border-bottom: 2px white;
}

.page_title {
    font-size: 2.5em;
    margin: 0 0 8vw 0vw
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* TEMPLATE DESIGN */


/*
#overlay {
      position:fixed;
    display: none;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
*/

#arrowReadMore img {
    width: 1vw;
    /*    margin-left: 1vw;*/
}

#arrowReadMore {
    /*    position:absolute;*/
    width: 10vw;
    /*    float:right;*/
    grid-column: 2/3;
}

#arrowReadMore img:hover {
    width: 1.2vw;
    transition: all ease 0.2s;
    filter: brightness(2px);
}

article h1 {
    font-size: 1.5em;
    margin: 0;
    grid-column: 1/-1;
}

.genre {
    font-size: 1em;
    font-style: italic;
    line-height: 1.5em;
    margin: 0;
    grid-column: 1/-1;
}

.descript {
    width: 80%;
}

iframe {
    width: 100%;
    height: auto;
}

.image {
    margin-top: 2vw;
    width: 100%;
    padding-bottom: 1vw;
    margin-bottom: 2vw;
    border-bottom: white solid 0.2vw;
    grid-column: 1/-1;
}

.small-descript {
    padding-bottom: 2vw;
    border-bottom: 2px solid white;
    border-bottom-width: thin;
    grid-column: 1/-1;
}

.price {
    grid-column: 2/3;
}

.date {
    grid-column: 1/2;
    display: inline-block;
}

.time {
    grid-column: 1/2;
    display: inline-block;
}

.location {
    grid-column: 1/2;
    display: inline-block;
}


/* MENU TOP */

#menutop {
    width: 60vw;
    height: 2vh;
    padding: 0vw 10vw 2vw 0vw;
    border-bottom: white solid 0.2vw;
    margin-bottom: 10vw;
}

.menu_top_link {
    font-weight: 700;
    text-decoration: none;
    display: inline;
    padding: 0vw 14vw 1vw 0vw;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

#menutop a:hover {
    font-size: 1.2em;
    opacity: 0.7;
}

#redlink {
    color: #961d27;
    font-size: 1.2em;
}


/* MENU SIDE POSITIONING */

.navbar {
    height: auto;
    width: 15vw;
    background-color: none;
    transition: all ease 1s;
    position: fixed;
    /*    overflow: hidden;*/
    /*    z-index:-5;*/
}

.content {
    width: 85vw;
    height: 100vh;
    float: right;
    transition: all ease 1s;
}

.icons {
    height: 100vh;
    width: 15vw;
    background-color: #f8e5ec;
    position: absolute;
    top: 0%;
    left: 0%;
}

.sub_menu {
    height: 100vh;
    width: 15vw;
    background-color: #961d27;
    z-index: -5;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: all ease 1s;
}


/*
.wrapper-menu {
    position: absolute;
    left: 4%;
    top: 15%;
    z-index: 10;
}
*/

#logo_menu {
    width: 6vw;
    margin-left: 4vw;
    margin-top: 4vw;
}


/* CLASS TO TOGGLE */

.expendIcons {
    width: 15vw;
}

.expend {
    width: 40vw;
}

.shorter {
    width: 60vw;
    float: right;
}

.hidden {
    width: 15vw;
}

.hide {
    display: none;
}

.display {
    display: block;
}

.big_content {
    width: 85vw;
    /*    float:right;*/
}

.show {
    display: block;
}

.fadeIn {
    animation: fadeInAnim 0.7s ease-in forwards;
}

.fadeOut {
    animation: fadeOutAnim 0.7s ease-in forwards;
}

@keyframes fadeInAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* STYLE */

.backButton {
    width: 1.5vw;
    transform: scaleX(-1);
    right: 5%;
    top: 50%;
    position: absolute;
    transition: all ease 0.2s;
    transform-origin: center;
}

.backButton:hover {
    width: 2vw;
}

.main_link,
.sub_link {
    font-family: roboto;
    font-size: 1em;
    color: white;
    text-decoration: none;
    font-weight: 900;
    line-height: 1.5em;
    display: block;
}

.sub_links {
    font-size: 0.8em;
    /*
    position: absolute;
    left: 15vw;
    top: 0vw;
*/
    width: 25vw;
    padding: 3vw;
    float: right;
}

.sub_links a {
    padding: 0.2vw;
}

#main_links a {
    display: block;
    text-align: left;
    padding: 1vw;
    transition: all ease 0.2s;
}

#event_icon:hover,
#vol_icon:hover,
#about_icon:hover,
#contact_icon:hover {
    font-size: 1.2em;
}


/* DOES NOT WORK ??? PB WITH JAVASCRIPT ?? */

#main_links {
    position: absolute;
    left: 10%;
    top: 30%;
    margin-left: 1vw;
    margin-top: 5vw;
}

* {
    box-sizing: border-box;
}


/* ///// CONTACT /////// */

.contact {
    width: 20vw;
    height: 30vw;
}


/* //////// CATEGORY //////////// */

.art,
.film,
.music,
.other,
.price,
.spoken,
.venues {
    text-decoration: none;
    display: block;
    color: white;
    margin: 0;
    transition: ease all 0.1s;
}

.art:hover,
.film:hover,
.music:hover,
.other:hover,
.price:hover,
.spoken:hover,
.venues:hover {
    font-size: 1.2em;
    opacity: 0.8;
}

.art:active,
.film:active,
.music:active,
.other:active,
.price:active,
.spoken:active,
.venues:active {
    color: #961d27;
    font-size: 1.2em;
}


/*NOT WORKING */

#sub_links_about {
    margin-top: 19vw;
}

.musicList {
    /*    position:absolute;*/
    /*
    top:2vw;
    left:5vw;
*/
}

h3 {
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    padding: 0;
}


/* CALENDAR */


/* Removes the clear button from date inputs */

input[type="date"]::-webkit-clear-button {
    display: none;
}


/* Removes the spin button */

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}


/* Always display the drop down caret */

input[type="date"]::-webkit-calendar-picker-indicator {
    color: white;
}


/* A few custom styles for date inputs */

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #961d27;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1em;
    border: 1px solid white;
    border-radius: 5px;
    background: #f8e5ec;
    padding: 15px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"],
focus {
    color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

@media only screen and (max-width:480px) and (orientation:portrait) {
    .navbar {
        width: 100vw;
        height: 40vh;
        bottom: 0%;
        display:block;
    }
    .icons {
        height: 20vw;
        width: 100vw;
        bottom: 0%;
    }
    .sub_menu {
        width: 100vw;
    }
    #main_links a {
        display: inline;
        width: 100vw;
    }
    .expendIcons {
        height: 20vw;
    }
    .expend {
        height: 100vh;
    }
    .hidden {
        height: 20vw;
    }
    .hide {
        display: none;
    }
    .display {
        display: block;
    }
    .show {
        display: block;
    }
    .sub_links {
        font-size: 0.8em;
        /*
    position: absolute;
    left: 15vw;
    top: 0vw;
*/
        width: 100vw;
        padding: 25vw 15vw 10vw 15vw;
        /*    float: right;*/
    }
    .art,
    .film,
    .music,
    .other,
    .price,
    .spoken,
    .venues {
        margin-bottom: 1vw;
        font-size: 1.3em;
        width:40vw;
    }

    .backButton {
    width: 15vw;
    transform: scaleX(-1) rotate(-90deg);

    right: 20%;
    top: 85%;
    position: absolute;
    transition: all ease 0.2s;
    transform-origin: center;
}

    .backButton:hover {
    width: 15vw;
}





    #event_list {
        display: block;
    }
    .event .small-descript {
        margin-bottom: 25vw;
        padding-bottom: 10vw;
    }
    .page_title {
        margin-top: 35vw;
    }
    #arrowReadMore img {
        width: 5vw;
        float: right;
        /*
        position:absolute;
        right:10vw;
        bottom:20vw;
*/
    }
    article {
        display: block;
    }

    .content {
    width: 100vw;
    height: 100vh;
    float: center;
    transition: all ease 1s;
}

    /* TOP MENU */

    #menutop {
        display:none;
        width: 80vw;
    height: 20vh;
    margin-top: 50vh;
    padding: 0vw 0vw 0vw 0vw;
    border-bottom: white solid 1vw;
/*    margin-bottom: 10vw;*/
/*        padding-top: 40vh;*/

    }

    .menu_top_link {
        display: block;
/*        top:30vh;*/
/*        margin-top:15%;*/
        font-size: 2em;

    }

    #menutop a:hover {
    font-size: 2em;
    opacity: 0.7;
}

    #burger, #cross {
        width:15vw;
        height: 15vh;
        font-size: 3em;
        top:5%;
        left:10vw;
        position:absolute;
    }

    #burger {
        display:block;
    }

}
